* {
	padding: 0;
}
body {
	width: 100%;
}
header {
	background-color: #9260e8;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.boites02 {
	padding: 25px;
}
nav {
	display: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	font-family: "Poppins";
}
.haut1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
	gap: 220px;
}
h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.t1 {
	margin-left: 30px;
	font-family: "Poppins";
}
.t2 {
	margin-left: 30px;
	margin-top: -30px;
	font-family: "Poppins";
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-left: 55px;
}
button {
	background-color: #48d0b7;
	border: none;
	border-radius: 9999px;
	width: 30%;
	padding: 8px 12px;
}
.btn1 {
	margin-left: 25px;
	margin-top: 10px;
}
p {
	color: white;
	font-weight: 400;
	font-family: "Poppins";
}
.para1 {
	margin-left: 30px;
}
#t3 {
	color: #3a3a3a;
}
#para01 {
	color: #3a3a3a;
}
.boite1 {
	display: flex;
	flex-direction: column;
}
.boite2 {
	display: flex;
	flex-direction: column;
}
.boite3 {
	display: flex;
	flex-direction: column;
}
#img {
	width: 50px;
	margin-bottom: 25px;
	margin-top: 20px;
}

.img01 {
	display: none;
}
img#img\ img3 {
	margin-top: 20px;
	margin-bottom: 25px;
}
.white {
	width: 100%;
}

h6 {
	color: #565656;
}
.T1 {
	color: #3a3a3a;
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;
	line-height: 100%;
	margin-top: 10px;
}

#para002 {
	color: #3a3a3a;
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
}
.paragraphe2 {
	margin-top: 20px;
	margin-bottom: 30px;
}
.principal {
	margin-top: 50px;
}
strong {
	color: #cf468d;
}
.two {
	margin-top: 40px;
}
.three {
	margin-top: 40px;
}
.foncts {
	display: flex;
	flex-direction: column;
}

.demo {
	background: linear-gradient(90deg, #523682, #6062e8);
	margin-left: -79px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	margin-top: -25px;
	padding: 50px;
	gap: 30px;
}
.h22 {
	color: #3a3a3a;
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 32px;
}
.blog {
	margin-top: 50px;
	margin-bottom: 25px;
	position: relative;
}
#images1-5 {
	margin-top: 50px;
}
h2 {
	color: #ffffff;
	font-family: Poppins;
	font-size: 32px;
	line-height: 100%;
	text-align: center;
}
.h3 {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
}
label {
	color: #ffffff;
	font-family: Poppins;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
}
#btn2 {
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 9999px;
	border: none;
}
#a1 {
	color: #5c55c9;
}

input {
	padding: 12px;
	border-radius: 4px;
	border: none;
}

.li {
	display: flex;
	flex-direction: column;
	color: #a2a2a2;
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 12px;
}

#h33 {
	color: #3a3a3a;
}

.on {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 90px;
}
.over {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 25px;
	gap: 120px;
}

#p {
	color: #a2a2a2;
	font-family: Poppins;
	font-weight: 500;
	font-style: Medium;
	font-size: 14px;
}
.footer {
	margin-top: 35px;
}
#footer {
	margin-top: 35px;
}

.images {
	display: none;
}

.cards {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card {
  position: relative;
  height: 170px;
  border-radius: 20px;
  overflow: hidden;
  margin-left: -40px;
}
.card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(135deg, #ff6b6b, #5f27cd);
}
.card-1 .card-bg {
  background-image: url("/assets/assets2/Blog1.png");
}
.card-2 .card-bg {
  background-image: url("/assets/assets2/Blog2.png");
}
.card-3 .card-bg {
    background-image: url("/assets/assets2/Blog3.png");
}
.card-4 .card-bg {
  background-image: url("/assets/assets2/Blog4.png");
}
.card-5 .card-bg {
  background-image: url("/assets/assets2/Blog5.png");
}
.card-content {
  position: absolute; /* texte par-dessus */
  inset: 16px 18px auto 18px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 14px 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  height: 138px;
  width: 65%;
  margin-top: 5px;
  margin-left: 53px;
}
.card-title {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 6px;
  color: #111827;
}
.card-subtitle {
  font-size: 11px;
  margin: 0 0 10px;
  color: #6b7280;
}
.card-meta {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #9ca3af;
}

.comments {
	background-color: #9260E8;
	width: 100vw;
	margin-left: -27.5vw;
}
.haut3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	margin-top: 30px;
	gap: 50px;
}
#image2 {
	align-self: end;
}
h4, #h333 {
	color: white;
}
.h4 {
	text-align: center;
	width: 29vw;
	font-family: Poppins;
	font-weight: 800;
	font-size: 18px;
}
.haut4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 40px;
	gap: 30px;
}
.class {
	display: block;
}

@media screen and (max-width: 320px) {
	body {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body {
		width: 100%;
	}
	nav {
		display: flex;
		justify-content: end;
		align-items: center;
	}
	ul {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	#burger {
		display: none;
	}
	.haut2 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
	}
	.bloc1 {
		display: flex;
		flex-direction: row;
		gap: 100px;
		margin-top: 44px;
	}
	.img01 {
		display: flex;
		width: 393px;
		height: 378px;
		position: absolute;
		top: 20vw;
		left: 52vw;
	}
	header {
		position: relative;
	}
	.btn1 {
		width: 25%;
		margin-top: 30px;
	}
	.one {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.two {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.three {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.demo {
		width: 102vw;
	}
	.principal {
		padding: 10px;
	}
	.foncts {
		margin: 10px;
	}
	#footer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 100px;
	}
	.over {
		margin-bottom: 35px;
	}
	.card {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
	}
	.comments {
		width: 103.5vw;
		margin-left: -36.5vw;
	}
	.h4 {
		width: 90%;
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (min-width: 1024px) {
	body {
		width: 100%;
	}
	.boites {
		display: flex;
		flex-direction: row;
		gap: 250px;
	}
	.bloc1 {
		gap: 250px;
	}
	.img01 {
		position: absolute;
		top: 10vw;
		left: 58vw;
		width: 35%;
		height: 500px;
	}
	.btn1 {
		width: 10%;
		margin-top: 30px;
	}
	.foncts {
		margin: 20px;
	}
	.images {
		display: flex;
		flex-direction: row;
	}
	.unicorns {
		margin-bottom: 20px;
	}
	.demo {
		width: 101vw;
	}
}
