* {
    padding: 0;
}
body {
	width: 100%;
}
header {
	background-color: #9260e8;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
nav {
	display: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #ffffff;
}
.haut1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
	gap: 220px;
}
h1 {
	margin-left: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
button {
	background-color: #48d0b7;
	border: none;
	border-radius: 9999px;
	width: 30%;
	padding: 8px 12px;
}
p {
	color: white;   
	font-weight: 400;
}
