@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
}
body {
	width: 100%;
}
header {
	background-color: #9260e8;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.boites02 {
	padding: 25px;
}
nav {
	display: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
}
.haut1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
	gap: 220px;
}
h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.t1 {
	margin-left: 30px;
}
.t2 {
	margin-left: 30px;
	margin-top: -30px;
}
main {
	display: flex;
	margin-top: 60px;
	margin-left: 60px;
}
button {
	background-color: #48d0b7;
	border: none;
	border-radius: 9999px;
	width: 30%;
	padding: 8px 12px;
}
.btn1 {
	margin-left: 25px;
	margin-top: 10px;
}
p {
	color: white;
	font-weight: 400;
}
.para1 {
	margin-left: 30px;
}
#t3 {
	color: #3a3a3a;
}
#para01 {
	color: #3a3a3a;
}
.boite1 {
	display: flex;
	flex-direction: column;
	width: 300px;
}
.boite2 {
	display: flex;
	flex-direction: column;
	width: 300px;
}
.boite3 {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#img {
	width: 50px;
	margin-bottom: 25px;
}

.img01 {
	display: none;
}

.white {
	width: 100%;
}

@media screen and (max-width: 320px) {
	body {
		display: none;
	}
}

@media screen and (min-width: 650px) {
	body {
		width: 100%;
	}
	nav {
		display: flex;
		justify-content: end;
		align-items: center;
	}
	ul {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	#burger {
		display: none;
	}
	.haut2 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
	}
	.bloc1 {
		display: flex;
		flex-direction: row;
		gap: 100px;
		margin-top: 44px;
	}
	.img01 {
		display: flex;	
		width: 393px;
		height: 378px;
		position: absolute;
		top: 150px;
		left: 375px;
	}
	header {
		position: relative;
	}
	.btn1 {
		width: 25%;
		margin-top: 30px;
	}
}

@media screen and (min-width: 920px) {
	body {
		width: 100%;
	}
	.boites {
		display: flex;
		flex-direction: row;
		gap: 280px;
	}
	.bloc1 {
		gap: 300px;
	}
	.img01 {
		position: absolute;
		top: 110px;
		left: 1250px;
		width: 500px;
		height: 500px;
	}
	.btn1 {
		width: 10%;
		margin-top: 30px;
	}

}
