* {
	padding: 0;
}
body {
	width: 100%;
}
header {
	background-color: #9260e8;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.boites02 {
	padding: 25px;
}
nav {
	display: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
	font-family: "Poppins";
}
.haut1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 5px;
	gap: 220px;
}
h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.t1 {
	margin-left: 30px;
	font-family: "Poppins";
}
.t2 {
	margin-left: 30px;
	margin-top: -30px;
	font-family: "Poppins";
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
	margin-left: 55px;
}
button {
	background-color: #48d0b7;
	border: none;
	border-radius: 9999px;
	width: 30%;
	padding: 8px 12px;
}
.btn1 {
	margin-left: 25px;
	margin-top: 10px;
}
p {
	color: white;
	font-weight: 400;
	font-family: "Poppins";
}
.para1 {
	margin-left: 30px;
}
#t3 {
	color: #3a3a3a;
}
#para01 {
	color: #3a3a3a;
}
.boite1 {
	display: flex;
	flex-direction: column;
}
.boite2 {
	display: flex;
	flex-direction: column;
}
.boite3 {
	display: flex;
	flex-direction: column;
}
#img {
	width: 50px;
	margin-bottom: 25px;
	margin-top: 20px;
}

.img01 {
	display: none;
}
img#img\ img3 {
	margin-top: 20px;
	margin-bottom: 25px;
}
.white {
	width: 100%;
}

h6 {
	color: #565656;
}
.T1 {
	color: #3a3a3a;
	font-family: Poppins;
	font-weight: 700;
	font-style: Bold;
	font-size: 26px;
	line-height: 100%;
	margin-top: 10px;
}

#para002 {
	color: #3a3a3a;
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
}
.paragraphe2 {
	margin-top: 20px;
	margin-bottom: 30px;
}
.principal {
	margin-top: 30px;
}
strong {
	color: #cf468d;
}
.two {
	margin-top: 40px;
}
.three {
	margin-top: 40px;
}
.foncts {
	display: flex;
	flex-direction: column;
}

.demo {
	background: linear-gradient(90deg, #523682, #6062e8);
	width: 100vw;
	margin-left: -79px;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	margin-top: 60px;
	padding: 50px;
	gap: 30px;
}
h2 {
	color: #ffffff;
	font-family: Poppins;
	font-size: 32px;
	line-height: 100%;
	text-align: center;
}
.h3 {
	font-family: Poppins;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
}
label {
	color: #ffffff;
	font-family: Poppins;
	font-weight: 600;
	font-size: 14px;
	line-height: 100%;
}
#btn2 {
	background-color: #ffffff;
	padding: 8px 12px;
	border-radius: 9999px;
	border: none;
}
#a1 {
	color: #5c55c9;
}

input {
	padding: 12px;
	border-radius: 4px;
	border: none;
}

@media screen and (max-width: 320px) {
	body {
		display: none;
	}
}

ol {
	display: flex;
}

li {
	color: #A2A2A2;
}

#h33 {
	color: #3A3A3A;
}

@media screen and (min-width: 910px) {
	body {
		width: 100%;
	}
	nav {
		display: flex;
		justify-content: end;
		align-items: center;
	}
	ul {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
	#burger {
		display: none;
	}
	.haut2 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 5px;
	}
	.bloc1 {
		display: flex;
		flex-direction: row;
		gap: 100px;
		margin-top: 44px;
	}
	.img01 {
		display: flex;
		width: 393px;
		height: 378px;
		position: absolute;
		top: 130px;
<<<<<<< HEAD
		left: 475px;
=======
		left: 430px;
>>>>>>> e68c456cbf32f742b668703660dd15147840e026
	}
	header {
		position: relative;
	}
	.btn1 {
		width: 25%;
		margin-top: 30px;
	}
	.one {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.two {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.three {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.principal {
		padding: 10px;
	}
	.foncts {
		margin: 10px;
	}
}

@media screen and (min-width: 1250px) {
	body {
		width: 100%;
	}
	.boites {
		display: flex;
		flex-direction: row;
		gap: 250px;
	}
	.bloc1 {
		gap: 250px;
	}
	.img01 {
		position: absolute;
<<<<<<< HEAD
		top: 115px;
		left: 910px;
		width: 35%;
=======
		top: 110px;
		left: 950px;
		width: 500px;
>>>>>>> e68c456cbf32f742b668703660dd15147840e026
		height: 500px;
	}
	.btn1 {
		width: 10%;
		margin-top: 30px;
	}
	.foncts {
		margin: 20px;
	}
}
